ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

li{
    float: right;
    display: inline-block;
    margin-right : 5px ;
}

a {
    background: #9b59b6; 
    color: #ffff;
    padding : 10px 25px ;
    display: block;
    text-decoration: none;
    border-radius: 5px ;
}